body {
  font-family: "Helvetica Neue", sans-serif;
}

.paper-list-entry {
  background: pink;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ffa199;
}

#paper-graph {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 600px;
  height: 600px;
  background: #eeeedd;
}

#paper-list {
  position: absolute;
  left: 615px;
  top: 5px;
  width: 600px;
  height: 600px;
  background: #e2f3ff;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  /*stroke: #fff;*/
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.hover {
  stroke-width: 3px;
  stroke: #ff7d62;
}

circle.selected {
  stroke: #ff2700;
}

#paper-info {
  position: absolute;
  left: 5px;
  top: 615px;
  width: 1210px;
  height: 200px;
  background: #eeeedd;
}