body {
    font-family: "Helvetica Neue", sans-serif;
}

.paper-list-entry {
    font-size: 10px;
    float: left;
    width: 100px;
    height: 30px;
    overflow: hidden;
    background: pink;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ffa199;
}

[v-cloak] {
  display: none;
}

#paper-list1-wrapper, #paper-list2-wrapper, #paper-list3-wrapper {
    position: absolute;
    background: #eeeecc;
    top: 10px;
    width: 280px;
    height: 100%;
}

#paper-list1-wrapper {
    left: 10px;
}

#paper-list2-wrapper {
    left: 310px;
}

#paper-list3-wrapper {
    left: 610px;
}


#search-box {
    position: absolute;
    left: 615px;
    top: 5px;
    width: 600px;
    height: 45px;
    background: #fff6e0;
}

#search-word {
    width: 500px;
    margin: 5px 10px 10px 7px;
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
}

#search-button {
    width: 80px;
}

.activity_entry {
    border: 1px solid gray;
    border-radius: 5px;
}

#paper-list {
    position: absolute;
    left: 30px;
    top: 60px;
    width: 1200px;
    height: 560px;
    background: #e2f3ff;
}

#paper-list h3 {
    font-size: 14px;
    margin: 0px inherit 0px inherit;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    /*stroke: #fff;*/
    stroke-width: 1.5px;
    cursor: pointer;
}

circle.hover {
    stroke-width: 3px;
    stroke: #ff7d62;
}

circle.selected {
    stroke: #ff2700;
}

#paper-info {
    position: absolute;
    left: 5px;
    top: 615px;
    width: 1210px;
    height: 200px;
    background: #eeeedd;
}